<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    
    <script>
        window.onload = function() {
            // Extract the access token from the URL fragment
            const fragment = window.location.hash.substring(1);
            const params = new URLSearchParams(fragment);
            const accessToken = params.get('access_token');

            if (accessToken) {
                // Redirect to the /register endpoint with the access token
                window.location.href = `/register?access_token=${accessToken}`;
            } else {
                window.location.href = 'https://discord.com/oauth2/authorize?client_id={{.ClientID}}&response_type=token&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fregister&scope=identify';
            }
        };
    </script>
</body>
</html>